[Desktop Entry]
Version=1.0
Type=Application
Name=calibre
GenericName=E-book library management
Comment=E-book library management: Convert, view, share, catalogue all your e-books
TryExec=calibre
Exec=calibre --detach %F --with-library=/config
Icon=calibre-gui
Categories=Office;
MimeType=image/vnd.djvu;application/vnd.oasis.opendocument.text;application/oebps-package+xml;application/x-cbr;application/rtf;application/x-mobipocket-subscription;application/x-mobi8-ebook;application/vnd.ms-word.document.macroEnabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/pdf;application/x-sony-bbeb;text/fb2+xml;application/x-mobipocket-ebook;application/x-cbz;application/xhtml+xml;text/plain;application/epub+zip;application/x-ruby;text/html;text/x-markdown;application/x-cbc;
